<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <style>
        A.class1 {
            margin-left: auto;
            margin-right: auto;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
        }

        A.class2 {
            color: black;
            text-decoration: none;
        }

        A.class2:hover {
            color: dimgray;
            text-decoration: none;
        }

        tr:hover {
            background: rgba(255, 255, 255, 1);
        }

        td {
            padding: 10px;
            font-weight: 400;
            border: dimgray dotted 1px;
        }

        div {
            background: white;
        }
    </style>
</head>
<body th:style="'background: url(/img/food.jpg) no-repeat'">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/months">
                <img th:src="@{/img/scientist.svg}" alt="Products" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link class1" aria-current="page" href="/months">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link class1" aria-current="page" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link class1" aria-current="page" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link class1" aria-current="page" href="/bacterias">Bacterias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<a href="/products" title="Get product list" >Owners</a>-->
    <h1 th:text="${title}"></h1>
    <form method="post" action="/products" name="searchDto">
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" name="code" id="code">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="/products/0" class="btn btn-dark" style="margin-top: 5px">Add new product</a>
        </li>
    </ul>

    <div class="alert alert-light" role="alert" th:if="${confirmDeleteId != null}">
        Do you want to delete product - <span
            th:text="${confirmDeleteId != null ? confirmDeleteId.getName() : ''}"></span>
        <a th:href="${confirmDeleteId != null ?   '/products/delete/' +confirmDeleteId.getId() : '/products'}"
           class="btn btn-danger">Delete</a>
        <a href="/products" class="btn btn-dark">Cancel</a>
    </div>

    <table>
        <tr>
            <!--            <th>Id</th>-->
            <th>Code</th>
            <th>Name</th>
            <th>Shelf life</th>
            <th>Category</th>
            <th>Month</th>
            <th style="width: 230px;">&nbsp;</th>

        <tr/>
        <tr th:each="product: ${products}">
            <!--            <a th:text="${product.getName()}" th:href="${'/products/' +product.getId()}"></a>-->
            <!--            <td th:text="${product.getId()}"></td>-->
            <td th:text="${product.getCode()}"></td>
            <td>
                <a class="class2" th:href="${'/products/' +product.getId()}" th:text="${product.getName()}"></a>
            </td>


            <td th:text="${product.getShelfLife()}"></td>
            <td th:text="${product.getCategory().getName()}"></td>
            <td th:text="${product.getMonth().getName()}"></td>

            <td class="action-column">
                <a th:href="${'/products/results/' + product.getId()}" class="btn btn-outline-success"
                   title="Add result">
                    <img th:src="@{/img/result.svg}">Add result
                </a>
                <a th:href="${'/products/' + product.getId()}" class="btn btn-outline-success" title="Edit item">
                    <img th:src="@{/img/edit.svg}">
                </a>

                <!--                <a th:href="${'/products/delete/' + product.getId()}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this item?');">-->
                <!--                    <img th:src="@{/img/delete.svg}">-->
                <!--                </a>-->
                <a th:href="${'/products/confirm/' +product.getId()}" class="btn btn-outline-danger"
                   title="Delete item">
                    <img th:src="@{/img/delete.svg}">
                </a>

            </td>
        </tr>
    </table>
    <div class="space">&nbsp;</div>
</div>
</body>
</html>