<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/months">
                <img th:src="@{/img/scientist.svg}" alt="Products" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/months">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/bacterias">Bacterias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<a href="/products" title="Get product list" >Owners</a>-->
    <h1 th:text="${title}"></h1>
    <form method="post" action="/products" name="searchDto">
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" class="form-control" name="code" id="code">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="/products/0" class="btn btn-primary" style="margin-top: 5px">Add new product</a>
        </li>
    </ul>

    <table class="table table-hover">
        <tr>
            <!--            <th>Id</th>-->
            <th>Code</th>
            <th>Name</th>
            <th>Shelf life</th>
            <th>Category</th>
            <th>Month</th>
            <th style="width: 230px;">&nbsp;</th>

        <tr/>
        <tr th:each="product: ${products}">
<!--            <a th:text="${product.getName()}" th:href="${'/products/' +product.getId()}"></a>-->
            <!--            <td th:text="${product.getId()}"></td>-->
            <td th:text="${product.getCode()}"></td>
            <td>
            <a th:href="${'/products/' +product.getId()}" th:text="${product.getName()}"></a>
            </td>



            <td th:text="${product.getShelfLife()}"></td>
            <td th:text="${product.getCategory().getName()}"></td>
            <td th:text="${product.getMonth().getName()}"></td>

            <td class="action-column">
                <a th:href="${'/products/results/' + product.getId()}" class="btn btn-outline-primary">
                    <img th:src="@{/img/result.svg}">Add result
                </a>
                <a th:href="${'/products/' + product.getId()}" class="btn btn-outline-secondary">
                    <img th:src="@{/img/edit.svg}">
                </a>

                <a th:href="${'/products/delete/' + product.getId()}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                    <img th:src="@{/img/delete.svg}">
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>